html{box-sizing: border-box;}
*, *:before, *:after {
  box-sizing: inherit;
}
body{
    width: 360px;
    margin: 0px;
}

.pagetitles{
    font-family: "Source Sans Pro Regular", sans-serif;
    font-size: 18px;
    color: #454545;
    text-transform: uppercase;
    text-align: center;
}

h2>em{
    color: #acd373;
    font-style: normal;      
}

.quote{
    font-family: "Droid Serif Regular", serif;
    font-size: 12px;
    text-align: center;
    color: #454545;
    position: relative;
    top: -8px;
}

.dingbat{
    padding-bottom: 15px;
}

header {
    width: 360px;
    height: 40px;
    position: relative;
    background-color: #acd373;
}

a:hover{
    background-color: cornflowerblue;
}

.logo{
    display: inline-block;
    margin: 8px 0 0 30px;
}

.menubutton{
    display: inline-block;
    position: relative;
    top: -7px;
    left: 230px;
    z-index: 1;
}

nav{
    background-color: #89a85c;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
}
    
.greeting {
    background: #9abd67 url(images/background-header-silhouette.png) no-repeat bottom;
    height: 350px;
    position: relative;
    text-align: center;
    color: #f7f7f7;}

.greeting > div{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.greeting h1 {
    font-family: "Source Sans Pro Bold", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
            }

.greeting h3 {
    font-family: "Droid Serif Italic", serif;
    font-size: 13px;
    font-style: italic;
}

.greeting img{
    position: relative;
    top: 30px;
}





.whoweare{
    height: 500px;
    width: 360px;
    background-color: #f7f7f7;
    position: relative;
    font-family: "Source Sans Pro Regular", sans-serif;
    color: #454545;
}

.whoweare .iphone{
    display: block;
    margin: 0 auto;
    padding-top: 45px;
            }

.whoweare h2 {
    background: url(images/manicon.png) no-repeat;
    height: 30px;
    padding-left: 38px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 30px;
     }

.whoweare a{
    color: #acd473;
    text-decoration: none;
    border: #acd473 1px solid;
    padding: 11px 15px;
    font-family: "Droid Serif Italic", serif;
    font-size: 11px;
    font-style: italic;
    margin: 17px 0;
    display: inline-block;
    position: absolute;
    left: 30px;
}

.whoweare p {
    font-size: 13px;
    padding: 38px 30px 0px 30px;
            }












.ourservices{    
    background: #f7f7f7;
    padding-top: 42px;
    height: 498px;
    position: relative;
}

.servicelist{
    list-style: none;
    padding: 30px;
    }

.serviceitem{
    margin-bottom: 15px;
    padding-left: 50px;
    min-height: 70px;
}

.brushicon{
    background: url(images/paintbrushicon_19.png) no-repeat;
    
}

.mobileicon{
    background: url(images/mobileicon_23.png) no-repeat;
    }

.monitoricon{
    background: url(images/monitoricon_27.png) no-repeat;
    }

.serviceitem h3{
    color: #acd373;
    text-transform: uppercase;
    font-family: "Source Sans Pro Bold" sans-serif; 
    font-size: 14px;
    margin: 6px 0;
}

.serviceitem p{
    margin: 0;
    color: #454545;
    font-family: "Source Sans Pro Regular" sans-serif;
    font-size: 13px;

}

.ourservices a{
    color: #acd473;
    text-decoration: none;
    border: #acd473 1px solid;
    padding: 11px 15px;
    font-family: "Droid Serif Italic", serif;
    font-size: 11px;
    font-style: italic;
    display: inline-block;
    position: absolute;
    left: 140px;
    margin-top: -34px;
}




    
.meetourteam {
    background: #acd373;
    padding-top: 47px;
    text-align: center;
    position: relative;
}

.meetourteam h2, .meetourteam span
{
    color: #f7f7f7;
    }

.meetourteam .quote{
    color: #f7f7f7;
}

.whitedingbat{
    margin: auto;
    position: absolute;
    top:
}
    

.teamslider{
    position: relative;
}

.sidearrows{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.leftarrow{
    left: 30px;
}

.rightarrow{
    right: 30px;
}

.employeecard{
    width: 200px;
    margin: 50px auto;
}
.nametag{
    background-color: #f7f7f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 130px;
    position: relative;
    padding: 60px 0 0;
}

.nametag img{
    border: 5px #acd373 solid;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left: 58px;
}
.nametag h3{
    margin: 0;
}

.nametag h4{
    margin: 15px 0;
}

.socialbar{
    padding: 8px 0;
    background-color: #ebebeb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px;
    margin: auto;

}
        
.meetourteam h3{
    font-family: "Source Sans Pro Bold", sans-serif;
    font-size: 14px;
    color: #acd373;
    text-transform: uppercase;
}

.meetourteam h4{
    font-family: "Droid Serif Italic", sans-serif;
    font-size: 12px;
    color: #787878;
    font-style: italic;
}
    
.meetourteam footer{
    background-color: #9abd67;
    padding:18px 30px;
    font-size: 13px;
    text-align: left;
    position: relative
}
.meetourteam footer > *{

    display: inline-block;
    vertical-align: middle;
}
.meetourteam footer span{
    width: 190px;
}

.hiringbutton{
    color: #f7f7f7;
    text-decoration: none;
    border: #f7f7f7 1px solid;
    padding: 11px 15px;
    font-family: "Droid Serif Italic", serif;
    font-size: 11px;
    font-style: italic;
}



.recentworks{
    background: #f7f7f7;
    padding-top: 35px;
    text-align: center;
    position: relative;
    
}
    
.chart{
    height: 243px;
    width: 300px;
    font-color: #ebebeb;
    background-color: #ebebeb;
    margin: auto;
}

.letoychart{
    z-index: 1;
    position: absolute;
    top: 50%;
    margin-top: 49px;
    transform: translateY(-88%);
    left: 30px;
}
    
.recentworks h3{
    font-family: "Source Sans Pro Bold" sans-serif;
    font-size: 14px;
    color: #454545;
    padding-top: 182px;
    text-transform: uppercase;
}

.recentworks h4{
    font-family: "Droid Serif Italic" serif;
    font-size: 12px;
    color: #787878;
    font-style: italic;
    margin-top: -6px;
}
    
.recentworks a{
    color: #acd473;
    text-decoration: none;
    border: #acd473 1px solid;
    padding: 11px 15px;
    font-family: "Droid Serif Italic", serif;
    font-size: 11px;
    font-style: italic;
    position: relative;
    top: 53px;
}

.recentworks footer{
    background-color: #ebebeb;
    padding:18px 30px;
    margin-top: 110px;
}
    
.themeforest{
    padding: 5px 0 0 18px;
}
    
.envato{
    padding: 0 4px 8px 0;
}




.testimonials{
    margin: 0;
    background: url(images/woodenbkgrndoverlay.jpg);
    height: 562px;
    position: relative;
}

.quotebox{
    margin: auto;
    width: 300px;
    height: 85px;
    font-family: "Droid Serif Regular" serif;
    font-size: 14px;
    z-index: 1;
    color: #e2e0dd;
    border: #e2e0dd 1px solid;
    display: block;
    padding: 15px 10px;
    position: absolute;
    top: 61px;
    left: 30px;
}

.blockquote{
    position: absolute;
    left: 254px;
    top: 55px;
}

.testimonialsource{
    z-index: 1;
    padding: 180px 30px 0;
}

.johndoetestimonial{
    border: 1px;
    color: none;
    border-radius: 50%;
    margin-left: -5px;
    margin-top: 1px;
}
    
.testimonialauthor{
    display: inline-block;
    margin: 22px;
    line-height: 17px;
    position: absolute;
}

.testimonials h3{
    font-family: "Source Sans Pro Bold" sans-serif;
    font-size: 14px;
    color: #acd373;
    text-transform: uppercase;
}

.testimonialwebsite{
    font-family: "Droid Serif Italic" serif;
    font-size: 12px;
    color: #f7f7f7;
    
}
  
.windowdots{
    text-align: center;
}


.testimonials h2{
    font-family: "Source Sans Pro Regular" sans-serif;
    font-size: 18px;
    color: #f7f7f7;
    text-transform: uppercase;
    padding: 30px 30px 15px;
}

.testimonials p{
    font-family: "Source Sans Pro Regular" sans-serif;
    font-size: 13px;
    color: #f7f7f7;
    text-transform: none;
    padding: 0 30px;
}
    
.testimonials a{
    color: #acd473;
    text-decoration: none;
    border: #acd473 1px solid;
    padding: 10px 15px;
    font-family: "Droid Serif Italic", serif;
    font-size: 11px;
    font-style: italic;
    margin: 8px 0;
    position: absolute;
    left: 30px;
}





.blog{
    height: 674px;
    background-color: #f7f7f7;
    padding-top: 47px;
    text-align: center;
    position: relative;
}

.blogwindow{
    width: 160px;
    display: inline-block;
    background-color: #ebebeb;
    height: 200px;
}

.blog h4{
    font-family: "Source Sans Pro Semibold" sans-serif;
    font-size: 11px;
    color: #454545;
    display: inline;
    max-width: 148px;
}

.blog h3{
    font-family: "Source Sans Pro Regular" sans-serif;
    font-size: 12px;
    color: #f7f7f7;
    display: inline-block;
    padding: 12px 10px 0;
    margin-right: 122px;
}

.bloglogos{
    width: 30px;
    height: 30px;
    background-color: #acd373;
    border: 5px #f7f7f7;
    border-radius: 50%;
    z-index: 1;
    display: inline-block;
    margin: -20px 0 10px;
}

.blog a{
    display: block;
    height: 30px;
    background-color: #acd473;
    text-decoration: none;
    font-family: "Droid Serif Italic", serif;
    text-align: center;
    font-size: 11px;
    color: #f7f7f7;
    font-style: italic;
    padding: 8px;
    margin-top: 25px;
}

.blog footer{
    width: 360px;
    height: 62px;
    background-color: #acd373;
    margin-top: 57px;
}
    
.blog form input{
    background-color: #acd373;
    width: 110px;
    height: 25px;
    border: 1px #f7f7f7;
    z-index: 1;
}

.envelope{
    z-index: 2;
    width: 31px;
    height: 25px;
    background-color: #f7f7f7;
}





.contact{
    background-color: #acd373;
    text-align: center;
    position: relative;
}

.contact h2{
    color: #f7f7f7;
}

.map{
    max-height: 129px;
    display: block;
    margin-top: 20px;
}

.markericon{
    z-index: 1;
    position: relative;
    top: -122px;
}

.contact h5{
    z-index: 2;
    position: relative;
    top: -175px;
}

.contact h5, h4{
    color: #f7f7f7;
    font-family: "Source Sans Pro Regular" sans-serif;
    font-size: 13px;
    z-index: 2;
}

.contact h4{
    margin: 10px;
}

form label{
    font-family: "Source Sans Pro Regular" sans-serif;
    font-size: 14px;
    color: #f7f7f7;
    display: block;
    margin-left: 30px;
    text-align: left;
    padding-bottom: 9px;
    padding-top: 15px;
}

.contact form input{
    -webkit-appearance:none;
    margin: 0 0 10px;
    border: none;
}


.textfield{
    width: 300px;
    height: 28px;
    background-color: #9abd67;
    border: none;
}

.messagefield{
    width: 300px;
    height: 84px;
    background-color: #9abd67;
    border: none;
}

.contact h3{
    font-family: "Droid Serif Italic" serif;
    font-size: 12px;
    z-index: 1;
    color: #f7f7f7;
    display: inline-block;
    padding: 8px 80px;
    position: relative;
    top: -43px;
}

.submit{
    margin-top: 26px;
    text-indent: -9999px;
    width: 200px;
    height: 32px;
    background-color: #9abd67;
    margin-left: 80px;
}

.contact footer{
    margin-top: -10px;
    height: 100px;
    background-color: #9abd67;
    padding-top: 29px;
}